link(rel='stylesheet', type='text/css', href='/css/form.css')

#status
  span.pastes
    a.stats( href='/' )
      span
  span.new
    a( href='/pastes/new' )
      img(src='/img/new.png', title='new paste')

section#content
  #pastes
    #new
      form#form1.pastes(method='post', action='/pastes')
        !=partial('fields', { locals: { paste: paste } })
        p.submit
          button(type='submit') Add
