link(rel='stylesheet', type='text/css', href='/css/form.css')

#status
  div.avatars
  span.back
    a(href='/' ) pastes
  span.pastes
    a.stats( href='/' )
      span

section#content
  #pastes
    #new
      form#form1.pastes(method='post', action='/pastes')
        !=partial('fields', { locals: { paste: paste } })
        p.submit
          button(type='submit') Add
