section#content
  #pastes
      div.paste
        a.title(id='paste-title-' + d.id, href='/pastes/' + d.id)=d.title
        script(type='syntaxhighlighter', class='brush: js')!=d.body
        div.date=d.relative
