link(rel='stylesheet', type='text/css', href='/css/sh/shTheme' + d.theme + '.css')
script(src='/js/show.js', type='text/javascript')

#status
  div.avatars
  span.back
    a(href='/' ) pastes
  div.pasteInfo
    span.title
      a(href='/pastes/' + d.id)=d.title || 'Untitled'
    - if (d.gravatar)
      span.avatar
        img(src=d.gravatar, title='gravatar')
  div.clear

section#content
  #pastes
    script(type='syntaxhighlighter', class='brush: ' + d.lang)=d.body
