!!! 5
html
  head
    title pastebin.js
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/ribbon.css')
    link(rel='stylesheet', type='text/css', href='/css/application.css')
    link(rel='stylesheet', type='text/css', href='/css/sh/shCore.css')

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js')

    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src='/js/underscore.min.js')
    script(type='text/javascript', src='/js/sh/shCore.js')
    script(type='text/javascript', src='/js/sh/shAutoloader.js')
    script(type='text/javascript', src='/js/app.js')

  body!= body

  footer
