html {
  height: 100%;}

body, input, button {
  font: medium Helvetica Neue, sans-serif;
  text-rendering: optimizelegibility;}

body {
  padding: 0;
  height: 100%;
  overflow: hidden;}

div#status {
  padding: 8px;
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(50, 50, 50, 0.8);
  font-size: small;}
div#status a {
  color: white;
  text-decoration: none;}
div#status span {
  padding: 5px;}
div#status .back {
  border-right: 3px solid rgba(50, 50, 50, 0.8);}
div#status div.pasteInfo {
  display: inline;
  padding: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;}
div#status div.pasteInfo .title a {
  color: #CDEB8B !important;}
div#status .pastes a {
  text-align: center;
  margin: 0px 0px 0px 45%;}
div#status .new {
  position: absolute;
  right: 5px;
  top: 0px;}
div#status div.avatars {
  float: right;
  top: 0px;
  margin-top: -2px;}
div#status div.avatars span.me {
  border-left: 3px solid rgba(50, 50, 50, 0.8);}

body section#content {
  position: relative;
  margin: 0px auto;
  overflow: auto;
  height: 95%;}
body section#content div#pastes {
  margin: 0px auto;
  width: 90%;
  height: 50%;
  font-size: 10pt;}
body section#content div#pastes div.toolbar {
  display: none;}
body section#content div#pastes .paste {
  background: #f7f7ee;
  margin-bottom: 1em;
  padding: 7px 15px;
  border-radius: 7px;
  border: 1px solid #e7e7e7;
  -webkit-border-radius: 7px;}
body section#content div#pastes .paste div.syntaxhighlighter {
  height: 150px;}
body section#content div#pastes .paste div.info {
  display: inline;}
body section#content div#pastes .paste div.info span.avatar {
  float: left;
  padding-right: 6px;
  padding-bottom: 6px;}
body section#content div#pastes .paste div.info a  {
  color: #000000;
  font-size: 10px;
  overflow: auto;
  float: right;}
body section#content div#pastes .paste div.info .title {
  font-weight: bold;
  text-decoration: none;
  float: left;}
body section#content div#pastes .paste div.info .date {
  padding-bottom: 1.2em;}
body section#content div#pastes .paste div.info .date a {
  color: #CCC;
  font-size: 0.8em;
  text-align: right;}


div.line {
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;}
div.line img {
  padding: 1px;
  float: left;
  margin-right: 5px;}
div.line:hover {
  background-color: cornsilk !important;}

div.highlighting {
  background-color: cornsilk !important;}
