#form1{
    margin:1em 0;
    background:url(../img/form/form_top.gif) no-repeat 0 0;
}
#form1 fieldset{
    margin:0;
    padding:0;
    border:none;
}
#form1 legend{
    display:none;
}
#form1 p{
    margin:.5em 0;
}
#form1 label{
    display:block;
}
#form1 input {
    width:200px;
    border:1px solid #ddd;
    background:#fff url(../img/form/form_input.gif) repeat-x;
    padding:3px;
}
#form1 textarea{
    width: 100%;
    border:1px solid #ddd;
    background:#fff url(../img/form/form_input.gif) repeat-x;
    padding:3px;
    height: 400px;
    overflow:auto;
    font-family: monospace;
    font-size: small;
}
#form1 p.submit{
    background:url(../img/form/form_bottom.gif) no-repeat 0 100%;
    margin:0;
    text-align:right;
}
#form1 button{
    border:none;
    cursor:pointer;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
